.container {
  display: flex;
  flex-direction: column;
  grid-row-gap: 30px;
  row-gap: 30px;
}

.pagination {
  align-self: center;
}

.button {
  display: none;
}

@media only screen and (max-width: 600px) {
  .button {
    display: block;
  }
}
